.master {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.view-one,
.view-two,
.view-five {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* First View */
.fill-01,
.fill-02 {
  position: absolute;
  top: 0;
  height: 100%;
}

.fill-01 {
  width: 130%;
  left: -100%;
  background-color: #78cfbc;
  z-index: 1;
}

.fill-02 {
  width: 100%;
  background-color: #fefbf6;
}

/* Third View */
.view-three {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 100%;
  background-color: #6cb4c0;
}

/* Fourth View */
.wing-one,
.wing-two {
  width: 30%;
}

.wing-one {
  height: 100%;
  background-color: #65a6c2;
  position: absolute;
  top: 0;
  left: -30%;
}

.wing-two {
  height: 100%;
  background-color: #65a6c2;
  position: absolute;
  top: 0;
  right: -30%;
}

/* Fifth View */
.view-five {
  top: 100%;
  background-color: #5a8cc7;
  display: none;
}

/* CSS Transitions */
.animate-left {
  animation-duration: 2s;
  animation-name: crossLeft;
}

.animate-right {
  animation-duration: 1.75s;
  animation-name: crossRight;
}

.enter-left {
  animation-duration: .5s;
  animation-name: extendLeft;
}

.enter-right {
  animation-duration: .5s;
  animation-name: crossRight;
}

.animate-up {
  animation-duration: .75s;
  animation-name: crossUp;
}

/* Keyframe Animations */
@keyframes crossLeft {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(71%);
    transform: translateX(71%);
  }
}

@keyframes crossRight {
  0% {
    -webkit-transform: translateX(101%);
    transform: translateX(101%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes extendLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes crossUp {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}
